.square {
    outline: none;
    border: 2px solid lightseagreen;

    font-size: 5em;
    text-align: center;
    color: #f5f5f5;

    background-color: #0000;
}

.X {
    color: lime;
}

.O {
    color: fuchsia;
}

.b-top {
    border-top: none;
}

.b-right {
    border-right: none;
}

.b-bottom {
    border-bottom: none;
}

.b-left {
    border-left: none;
}