.square {
    outline: none;
    border: 2px solid lightseagreen;

    font-size: 5em;
    text-align: center;
    color: #f5f5f5;

    background-color: #0000;
}

.square.b-top {
    border-top: none;
}

.square.b-right {
    border-right: none;
}

.square.b-bottom {
    border-bottom: none;
}

.square.b-left {
    border-left: none;
}